@import "../../styles/variables";

.container {
  display: flex;
  flex-direction: column;
  .body {
    min-height: 100vh;
    display: flex;
    .content {
      background-color: rgba($border, 0.04);
      flex: 1;
      display: flex;
      justify-content: center;
      padding-bottom: 20px;
      flex-wrap: wrap;
      .product {
        flex: 4;
        display: flex;
        flex-direction: column;
        .image {
          height: 100%;
        }
      }
      .extra {
        flex: 2;
        display: flex;
        flex-direction: column;
      }
    }
  }
}
