@import "../../styles/variables";

.container {
  height: 35px;
  width: 35px;
  margin: 5px;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    opacity: 0.5;
  }
}
